<a href="https://colab.research.google.com/github/animalran/csvfiles/blob/master/Yahoo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install git+https://github.com/animalran/yfinance-1/
import yfinance as yf
from pandas_datareader import data as pdr 
yf.pdr_override()
import pandas as pd

In [124]:
#data=pdr.get_data_yahoo("INFY",start="2020-05-14",end="2020-05-19")

#print(data)
msft=yf.Ticker("TCS.NS")
balance=msft.get_balance_sheet(proxy="PROXY_SERVER")
cashflow=msft.get_cashflow(proxy="PROXY_SERVER")
earnings=msft.get_financials(proxy="PROXY_SERVER")
holders=msft.get_institutional_holders(proxy="PROXY_SERVER")
#option_chain=msft.get_option_chain(proxy="PROXY_SERVER")
balance_trans = balance.T
#df = pd.DataFrame(data=x)
#print(df)
balance_trans['A'] = list(range(len(balance_trans.index)))
cash=int(balance_trans.loc[:,"Cash"][0])/10000000
print(cash)
cashflow_trans=cashflow.T
cashflow_trans['A']= list(range(len(cashflow_trans.index)))
cashflow_trans

9666.0

             Investments  Change To Liabilities  ...  Repurchase Of Stock  A
                                                 ...
2020-03-31  8.389000e+10           8.210000e+09  ...                  NaN  0
2019-03-31  4.024000e+10           2.175000e+10  ...        -1.600000e+11  1
2018-03-31  4.383000e+10           7.580000e+09  ...        -1.600000e+11  2
2017-03-31 -1.858700e+11          -1.210000e+09  ...        -1.600000e+11  3

[4 rows x 20 columns]